<main>
    <h2>🛒 audiophile</h2>
    
    <section>
        <h1>Login</h1>
        
        <form>

            <div class="input-fields">

                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Email address">
                </div>
    
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>

            <div class="btn-container">

                <button type="submit">Log in to your account</button>

                <p>Don't have an account?
                    <a routerLinkActive="active" aria-label="Sign up">Sign Up</a>
                </p>
            </div>
        </form>
    </section>
</main>