<main>
    <h2>🛒 audiophile</h2>
    
    <section>
        <h1>Login</h1>
        @if(errorMessage()) {
            <p class="error">{{errorMessage()}}</p>
        }
        <form [formGroup]="loginForm" (ngSubmit)="submit()">

            <div class="input-fields">

                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Email address" formControlName="email">
                    @if (emailErrorMessage) {
                        <small class="error">{{ emailErrorMessage }}</small>
                    }
                </div>
    
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="Password" formControlName="password">
                    @if (passwordErrorMessage) {
                        <small class="error">{{ passwordErrorMessage }}</small>
                    }
                    <a [routerLink]="['/forgot-password']">Forgot Password?</a>
                </div>
            </div>

            <div class="btn-container">

                <button type="submit" [disabled]="!loginForm.valid">
                    @if (isLoading()) {
                        loading...
                    }
                    @else {   
                        Log in to your account
                    }
                </button>

                <p>Don't have an account?
                    <a routerLink="/signup" routerLinkActive="active" aria-label="Sign up">Sign Up</a>
                </p>
            </div>
        </form>
    </section>
</main>