<main>

    <section>

        <div class="col">
            <h2>Reset Password</h2>
            <p>Enter the email address associated with your account to request a password reset link.</p>
        </div>
        
        @if (errorMessage()) {
            <small class="error">{{errorMessage()}}</small>
        }
    
        <form [formGroup]="form" (ngSubmit)="onSend()">
            <div class="input-group">
                <input type="email" name="email" id="email" placeholder="Email address" formControlName="email">
                @if (emailErrorMessage) {
                    <small class="error">{{ emailErrorMessage }}</small>
                }
            </div>
    
            <div class="btn-container">
                <button [disabled]="!form.valid">
                    @if (isLoading()) {
                        loading...
                    }
                    @else {
                        Send
                    }
                </button>
                <a routerLink="/login">Back to Login</a>
            </div>
        </form>
    </section>
</main>
