<main>

    <section>

        <div class="col">
            <h2>Reset Password</h2>
            <p>Enter the email address associated with your account to request a password reset link.</p>
        </div>
        
        @if (errorMessage()) {
            <small class="error">{{errorMessage()}}</small>
        }
    
        <form [formGroup]="form" (ngSubmit)="onSend()">
            <input type="email" name="email" id="email" placeholder="johndoe@gmail.com" formControlName="email">
            @if (form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)) {
                @if (form.get('email')?.errors?.['required']) {
                    <small class="error">Can't be empty</small>
                }
                @if (form.get('email')?.errors?.['email']) {
                    <small class="error">Invalid Email</small>
                }
            }
    
            <div class="btn-container">
                <button [disabled]="!form.valid">
                    @if (isLoading()) {
                        loading...
                    }
                    @else {
                        Send
                    }
                </button>
                <a routerLink="/login">Back to Login</a>
            </div>
        </form>
    </section>
</main>
