<main>
    <span></span>


    <section>

        <div class="logo-nav">
    
            <img src="/assets/shared/desktop/logo.svg" alt="audiophile logo">
        
            <nav>
                <a>Home</a>
                <a>headphones</a>
                <a>speakers</a>
                <a>earphones</a>
            </nav>
        </div>
    
        <p>
            Audiophile is an all in one stop to fulfill your audio needs.
            We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio.
            Come and visit our demo facility - we’re open 7 days a week.
        </p>
    </section>
    


    <div class="social-right">

        <p>Copyright 2025. All Rights Reserved</p>
    
        <div class="socials">
            <img src="/assets/shared/desktop/icon-facebook.svg" alt="facebook icon">
            <img src="/assets/shared/desktop/icon-twitter.svg" alt="twitter icon">
            <img src="/assets/shared/desktop/icon-instagram.svg" alt="icon-instagram">
        </div>
    </div>
</main>
