<header>
    <img src="/assets/icons/hamburger.svg" alt="menu icon" class="menu" (click)="toggleModal()">

    <h3>audiophile</h3>

    <nav class="hidden">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
        <a routerLinkActive="active" [routerLink]="['/product', 'headphones']" [routerLinkActiveOptions]="{ exact: true }">HEADPHONES</a>
        <a routerLinkActive="active" [routerLink]="['/product', 'speakers']" [routerLinkActiveOptions]="{ exact: true }">SPEAKERS</a>
        <a routerLinkActive="active" [routerLink]="['/product', 'earphones']" [routerLinkActiveOptions]="{ exact: true }">EARPHONES</a>
        @if (authService.currentUser()) {
            <a routerLinkActive="active" routerLink="profile">PROFILE</a>
        }
        @else {

            <a routerLink="login">LOGIN</a>
        }
    </nav>

    
    <div class="cart" (click)="openCart()">
        <img src="/assets/icons/cart.svg" alt="cart icon" class="cart-icon">
        <span>{{cartService.cartCount()}}</span>
    </div>
</header>
@if (isMenuOpen()) {
    <app-mobile-menu-modal (close)="closeModal()"/>
}
<router-outlet name="modal"/>

