<main>
    <picture>
        <source media="(min-width: 1440px)" srcset="/assets/home/desktop/image-hero.jpg">
        <source media="(min-width: 768px)" srcset="/assets/home/tablet/image-header.jpg">
        <img src="/assets/home/mobile/image-header.jpg" alt="headphone" />
    </picture>
    


    <section>
        <div>
            <h4>New Product</h4>
            <h1>XX99 MARK II HEADPHONES</h1>
        </div>

        <p>Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</p>
        
        <button>See Product</button>
    </section>
</main>