<main>
    <section>
        <header>
            <h2>cart ({{cartService.cartCount()}})</h2>
            @if (cartItems().length > 0) {
                <a (click)="removeall()" >Remove all</a>
            }
        </header>

        <div class="items">
            @if (isLoading()) {
                <app-spinner/>
            }

            @for (item of cartItems(); track item.id) {
                <div class="item">
                    <div class="left-side">

                        @if (productImagesList()[$index]) {
                             <div class="image">
                                 <img 
                                     [src]="productImagesList()[$index][0].mobile_url" 
                                     alt="Product image"
                                 />
                             </div>
                        }

                        <div class="col">
                            <p class="name">{{item.name | slice:0:12}}</p>
                            <span class="price">{{item.price | currency:'USD':'symbol':'1.0-0'}}</span>
                        </div>
                    </div>

                    <div class="btn">
                        <app-quantity-button [quantity]="itemQuantities()[item.id]" (quantityChanged)="onQuantityChanged(item.id, $event)"/>
                        <a (click)="deleteItem(item.id)">Remove</a>
                    </div>
                </div>
            }
        </div>


        <div class="total-checkout">
            <div class="total">
                <p>total</p>
                <span>{{getItemsTotal() | currency:'USD':'symbol':'1.0-0'}}</span>
            </div>

            <div class="btn-container">
                <app-button [label]="'checkout'" (click)="checkoutItems()"/>
            </div>
        </div>

    </section>
</main>
