<main>
    <section>
        <header>
            <h2>cart ({{cartService.cartCount()}})</h2>
            <a>Remove all</a>
        </header>

        <div class="items">
            @for (item of cartItems(); track $index) {
                <div class="item">
                    <div class="left-side">
                        <div class="image"></div>
                        <div class="col">
                            <p class="name">{{item.name}}</p>
                            <span class="price">{{item.price | currency:'USD':'symbol':'1.0-0'}}</span>
                        </div>
                    </div>
                    <app-quantity-button [quantity]="item.quantity"/>
                </div>
            }
        </div>


        <div class="total-checkout">
            <div class="total">
                <p>total</p>
                <span>{{4513 | currency:'USD':'symbol':'1.0-0'}}</span>
            </div>

            <div class="btn-container">
                <app-button [label]="'checkout'"/>
            </div>
        </div>

    </section>
</main>
