<main>

    <section>

        <div class="col">
            <h2>Create new Password</h2>
            <p>Enter a new password for your account.</p>
        </div>
    
        @if (errorMessage()) {
            <small class="error">{{errorMessage()}}</small>
        }

        <form [formGroup]="resetForm" (ngSubmit)="submit()">
            <div class="input-group">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" placeholder="New Password" formControlName="password">
                @if (passwordErrorMessage) {
                    <small class="error">{{ passwordErrorMessage }}</small>
                }
            </div>

            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" formControlName="repeatPassword">
                @if (confirmPasswordErrorMessage) {
                    <small class="error"> {{ confirmPasswordErrorMessage }} </small>
                }
            </div>
            
    
            <div class="btn-container">
                <button type="submit" [disabled]="!resetForm.valid">
                    @if (isLoading()) {
                        Sending...
                    }
                    @else {
                        Reset Password
                    }
                </button>
                <a routerLink="/login">Back to Login</a>
            </div>
        </form>
    </section>
</main>
