<main>

    <section>

        <div class="col">
            <h2>Create new Password</h2>
            <p>Enter a new password for your account.</p>
        </div>
    
        @if (errorMessage()) {
            <small class="error">{{errorMessage()}}</small>
        }

        <form [formGroup]="resetForm" (ngSubmit)="submit()">
            <div class="input-group">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" placeholder="New Password" formControlName="password">
                @if(resetForm.get('password')?.invalid && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty)){
                    @if (resetForm.get('password')?.errors?.['required']) {
                        <small class="error">Can't be empty</small>
                    }
                    @if (resetForm.get('password')?.errors?.['minlength']) {
                        <small class="error">Password must be at least 8 characters</small>
                    }
                    @if (resetForm.get('password')?.errors?.['passwordStructure']) {
                        <small class="warn">Password should include at least an uppercase, lowercase, special character and a digit.</small>
                    }
                }
            </div>

            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" formControlName="repeatPassword">
                @if(resetForm.get('repeatPassword')?.invalid && (resetForm.get('repeatPassword')?.touched || resetForm.get('repeatPassword')?.dirty)){
                    @if (resetForm.get('repeatPassword')?.errors?.['required']) {
                        <small class="error">Can't be empty</small>
                    }
                    @if (resetForm.errors?.['mismatch'] && (resetForm.get('repeatPassword')?.touched || resetForm.get('repeatPassword')?.dirty)) {
                        <small class="error"> Passwords must match. </small>
                    }
                }
            </div>
            
    
            <div class="btn-container">
                <button type="submit" [disabled]="!resetForm.valid">
                    @if (isLoading()) {
                        Sending...
                    }
                    @else {
                        Reset Password
                    }
                </button>
                <a routerLink="/login">Back to Login</a>
            </div>
        </form>
    </section>
</main>
