<main>
    <h2>checkout</h2>

    <form [formGroup]="checkoutForm">
        <div class="form-group" formGroupName="billingDetails">
            <h5>billing details</h5>

            <div class="input-fields">
                <div class="input-group" [class.invalid]="checkoutForm.get('billingDetails.name')?.invalid && 
                    (checkoutForm.get('billingDetails.name')?.touched || checkoutForm.get('billingDetails.name')?.dirty)">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Alexi Ward" autocomplete="name" formControlName="name">
                    @if(checkoutForm.get('billingDetails.name')?.invalid && 
                        (checkoutForm.get('billingDetails.name')?.touched || checkoutForm.get('billingDetails.name')?.dirty)) {
      
                        @if (checkoutForm.get('billingDetails.name')?.errors?.['required']) {
                            <small class="error">Can't be empty</small>
                        }
                        @if (checkoutForm.get('billingDetails.name')?.errors?.['minlength']) {
                            <small class="error">Name must be at least 3 characters</small>
                        }
                    }
                </div>

                <div class="input-group" [class.invalid]="checkoutForm.get('billingDetails.email')?.invalid && 
                    (checkoutForm.get('billingDetails.email')?.touched || checkoutForm.get('billingDetails.email')?.dirty)">

                    <label for="email">Email Address</label>
                    <input type="email" id="email" placeholder="alexi@mail.com" autocomplete="email" formControlName="email"
                    >
                    @if(checkoutForm.get('billingDetails.email')?.invalid && 
                        (checkoutForm.get('billingDetails.email')?.touched || checkoutForm.get('billingDetails.email')?.dirty)) {
      
                        @if (checkoutForm.get('billingDetails.email')?.errors?.['required']) {
                            <small class="error">Can't be empty</small>
                        }
                        @if (checkoutForm.get('billingDetails.email')?.errors?.['email']) {
                            <small class="error">Wrong Format</small>
                        }
                    }
                </div>

                <div class="input-group" [class.invalid]="checkoutForm.get('billingDetails.phone')?.invalid && 
                    (checkoutForm.get('billingDetails.phone')?.touched || checkoutForm.get('billingDetails.phone')?.dirty)">

                    <label for="phone">Phone Number</label>
                    <input type="number" id="phone" placeholder="+1 202-555-0136" autocomplete="tel" formControlName="phone">
                    @if(checkoutForm.get('billingDetails.phone')?.invalid && 
                        (checkoutForm.get('billingDetails.phone')?.touched || checkoutForm.get('billingDetails.phone')?.dirty)) {
      
                        @if (checkoutForm.get('billingDetails.phone')?.errors?.['required']) {
                            <small class="error">Can't be empty</small>
                        }
                        @if (checkoutForm.get('billingDetails.phone')?.errors?.['invalidPhoneNumber']) {
                            <small class="error">Invalid phone number</small>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <h5>shipping info</h5>

            <div class="input-fields" id="shipping">
                <div class="input-group">
                    <label for="address">Your Address</label>
                    <input type="text" id="address" placeholder="1137 Williams Avenue" autocomplete="street-address">
                </div>

                <div id="shipping-info">

                    <div class="input-group">
                        <label for="code">Zip Code</label>
                        <input type="number" id="code" placeholder="10001" autocomplete="postal-code">
                    </div>
    
                    <div class="input-group">
                        <label for="city">City</label>
                        <input type="text" id="city" placeholder="New York" autocomplete="address-level2">
                    </div>
    
                    <div class="input-group">
                        <label for="country">Country</label>
                        <input type="text" id="country" placeholder="United States" autocomplete="country-name">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h5>payment details</h5>

            <div class="input-fields">

                <p>Payment Method</p>

                <div id="shipping">

                    <div class="radio-group">
                        <label>
                            <input type="radio" name="payment-method" value="e-money">
                            <span class="custom-radio"></span>
                            e-Money
                        </label>
                    </div>
    
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="payment-method" value="cash">
                            <span class="custom-radio"></span>
                            Cash on Delivery
                        </label>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="form-group">

            <div class="input-fields">
    
                <div class="input-group">
                    <label for="e-money-number">e-money Number</label>
                    <input type="number" id="e-money-number" placeholder="234567890" autocomplete="tel">
                </div>
        
                <div class="input-group">
                    <label for="e-money-pin">e-money PIN</label>
                    <input type="number" id="e-money-pin" placeholder="0001">
                </div>

                <div class="cash-info">
                    <img src="/assets/icons/Shape.svg" alt="money exchange">
                    <p class="description">The ‘Cash on Delivery’ option enables you to pay in cash when our delivery courier
                        arrives at your residence. Just make sure your address is correct so that your order will not be cancelled.
                    </p>
                </div>
            </div>
        </div>

    </form>
</main>
